@using DotnetHomework.Data.SocietyManagementSystemDbSetExtends
@model DotnetHomework.Models.ActivityViewModels.ActivityInfoViewModel

@{
    ViewData["Title"] = "活动详情";
}

<link rel="stylesheet" href="~/css/header-lined.css"/>

<h2>@ViewData["Title"]</h2>

<div class="row">

  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon icon-star"></i>概况
        </h3>
      </div>
      <div class="list-group">
        <a class="list-group-item active" href="#">
          信息
        </a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon icon-wrench"></i>操作
        </h3>
      </div>
      <div class="list-group">
        @if (!Model.IsTakedPart && Model.VActivityInfoEntity.Status==ActivityDbSetStatusEnum.Active.ToString())
        {
            <a asp-controller="Activity" asp-action="TakePart" asp-route-id="@Model.VActivityInfoEntity.Id" class="list-group-item">
              加入活动
            </a>
        }
        <a asp-controller="Society" asp-action="Info" asp-route-id="@Model.VActivityInfoEntity.SocietyId" class="list-group-item">
          返回社团详情
        </a>
      </div>
    </div>

  </div>

  <div class="col-md-9 main-content">

    <div class="header-lined">
      <h1>活动详情</h1>
      <ol class="breadcrumb">
        <li>
          <a asp-controller="Home" asp-action="Index">
            首页
          </a>
        </li>
        <li>
          <a asp-controller="Society" asp-action="Index">
            社团
          </a>
        </li>
        <li>
          <a asp-controller="Society" asp-action="Info" asp-route-id="@Model.VActivityInfoEntity.SocietyId">
            @Model.VActivityInfoEntity.SocietyName
          </a>
        </li>
        <li class="active">活动详情</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1>@Model.VActivityInfoEntity.Name</h1>
        <h3>@Model.VActivityInfoEntity.Description</h3>
        <h4>创建时间 @Model.VActivityInfoEntity.CreateTime</h4>
        <h4>活动时间 @Model.VActivityInfoEntity.Time</h4>
        <h4>活动状态 @Model.VActivityInfoEntity.Status</h4>
        @if (Model.IsTakedPart)
        {
            <h4>已参加</h4>
        }
      </div>
    </div>

    <div class="row">
      @if (Model.VActivityInfoEntity.Status == ActivityDbSetStatusEnum.Reject.ToString())
      {
          <div class="col-md-12">
            <h2>@Model.VActivityInfoEntity.Reason</h2>
          </div>
      }
      else
      {
          @Html.Partial("_TakePartListTablePartial", Model.VTakePartInfoEntities)
      }
    </div>

  </div>
</div>