@using DotnetHomework.Data.SocietyManagementSystemEntities
@model DotnetHomework.Models.SocietyViewModels.SocietyInfoViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "社团详情";
}

<link rel="stylesheet" href="~/css/header-lined.css"/>
<link rel="stylesheet" href="~/css/society/info.css"/>

<h2>@ViewData["Title"]</h2>

<div class="row">

  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon icon-star"></i>概况
        </h3>
      </div>
      <div class="list-group">
        <a class="list-group-item active" href="#">
          信息
        </a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon icon-wrench"></i>操作
        </h3>
      </div>
      <div class="list-group">
        <a asp-controller="Society" asp-action="Index" class="list-group-item">
          查找社团
        </a>
        <a class="list-group-item">
          创建新的社团
        </a>
      </div>
    </div>

  </div>


  <div class="col-md-9 main-content">

    <div class="header-lined">
      <h1>社团详情</h1>
      <ol class="breadcrumb">
        <li>
          <a asp-controller="Home" asp-action="Index">
            首页
          </a>
        </li>
        <li>
          <a asp-controller="Society" asp-action="Index">
            社团
          </a>
        </li>
        <li class="active">社团详情</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1>@Model.VSocietyInfoEntity.Name</h1>
        <h4>分类 @Model.VSocietyInfoEntity.CategoryName</h4>
        <h4>创建者 @Model.VSocietyInfoEntity.CreatorName</h4>
        <h4>创建时间 @Model.VSocietyInfoEntity.CreateTime</h4>
        <h4>成员数量 @Model.VSocietyInfoEntity.MemberCount</h4>
      </div>
    </div>

    @if (Model.IsCreator || Model.IsJoined)
    {
        <div class="row">
          <div class="col-md-10">
            <table class="table">
              <h3>成员列表</h3>
              <thead>
              <tr>
                <th>用户名</th>
                <th>加入时间</th>
              </tr>
              </thead>
              <tbody>
              @foreach (VMemberInfoEntity vMemberInfoEntity in  Model.VMemberInfoEntities)
              {
                  <tr>
                    <td>@vMemberInfoEntity.UserName</td>
                    <td>@vMemberInfoEntity.EntryTime</td>
                  </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
    }

    <div class="row">
      <div class="col-md-10">
        @if (Model.IsCreator)
        {
            <a class="btn btn-danger">解散社团</a>
        }
        else
        {
            if (Model.IsJoined)
            {
                <a class="btn btn-danger">退出社团</a>
            }
            else
            {
                <h3>入社申请</h3>
                if (Model.IsPending)
                {
                    <h4>@Model.Post</h4>
                    <a class="btn btn-danger">撤销申请</a>
                }
                else
                {
                    <form asp-controller="Society" asp-action="Join">
                      <div class="form-group">
                        <textarea name="EntryPost" class="form-control" rows="7" placeholder="要让大家都认识你哦"></textarea>
                      </div>
                      <input name="SocietyId" value=@Model.VSocietyInfoEntity.Id hidden/>
                      <button class="btn btn-primary" type="submit">提交</button>
                    </form>
                }
            }
        }
      </div>
    </div>

  </div>
</div>